<h2 style="font-weight: normal;">Maximum</h2>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr class="bg-light">
      <th>Producer</th>
      <th>Interval</th>
      <th>Previous Year</th>
      <th>Following Year</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td style="width: 25%;">{{ winnerMinumunInteval.producer }}</td>
      <td style="width: 25%;">{{ winnerMinumunInteval.interval }}</td>
      <td style="width: 25%;">{{ winnerMinumunInteval.previousWin }}</td>
      <td style="width: 25%;">{{ winnerMinumunInteval.followingWin }}</td>
    </tr>
  </tbody>
</table>
