<div class="divTable">
  <div style="width: 40%;"><app-list-years></app-list-years></div>
  <div style="width: 1%;"></div>
  <div style="width: 40%;"><app-list-tops></app-list-tops></div>
</div>
<div class="divTable">
  <div style="width: 40%;">
    <h2>Producers with longest and shortest interval between wins</h2>
    <app-view-maximum></app-view-maximum>
    <app-view-minimum></app-view-minimum>
  </div>
  <div style="width: 1%;"></div>
  <div style="width: 40%;"><app-list-movies-year></app-list-movies-year></div>
</div>
