<h2>List movie winners by year</h2>
<input type="number" [(ngModel)]="yearSearch" placeholder="Search by year"/>
&nbsp;
<button class="btn btn-primary" [disabled]="!yearSearch" (click)="pesquisar()"><i class="fa fa-search fa-med"></i></button>
<br><br>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr class="bg-light">
      <th>Id</th>
      <th>Year</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let win of winnersfiltered">
      <td style="width: 10%;">{{ win.id }}</td>
      <td style="width: 10%;">{{ win.year }}</td>
      <td>{{ win.title }}</td>
    </tr>
  </tbody>
</table>
